@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(imagens/fundopreto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 20px;
  color: whitesmoke;
  text-shadow: 3px 3px 7px black;
}
#headercor {
  color: darkred;
}

main {
  position: relative;
  height: 100vh;
}

.celular {
  position: absolute;
  height: 625px;
  width: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(imagens/frame-iphone.png);
  background-repeat: no-repeat;
}

.redes-sociais {
  text-align: right;
}

#tela {
  position: relative;
  top: 79px;
  left: 21px;
  width: 268px;
  height: 473px;
  border: 2px solid black;
}

.redes-sociais img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin: 25px;
  box-shadow: 3px 3px 7px black;
  box-sizing: border-box;
}

.redes-sociais img:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  translate: -3px -3px;
  box-shadow: 5px 5px 10px black;
  transition: translate 0.2s, border 0.1s;
}

@media (max-width: 768px) {
  header {
    font-size: 1rem;
    position: static;
    margin: 10px auto;
    text-align: center;
  }

  .celular {
    width: 90vw;
    height: calc(90vw * 2);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
    position: static;
  }

  #tela {
    width: 78vw;
    height: calc(78vw * 1.77);
    top: 13%;
    left: 6%;
  }

  .redes-sociais {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  body {
    overflow-y: auto;
    background-attachment: scroll;
  }
}
